* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: cadetblue;
}


.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto)repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    background-color:cornflowerblue;
}

.calculator-grid > button:hover {
    background-color:antiquewhite;
}

.span-two{
    grid-column: span 2;
}

.output {
    background-color:rgb(44, 44, 44);
    border: 1px solid;
    border-radius: 8px;
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .current-number {
     color: antiquewhite;
     font-size: 30px;
}

.output .previous-number {
    color: rgba(250, 235, 215, 0.524);
    font-size: 20px;
}